

/*--header+nav--*/

.bg-img {
    background:url("../images/andra.jpg");
    min-height:600px;
    max-width:100%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-attachment: fixed;
    
    
}

.grad{
  height:150px;
  background-image:linear-gradient(#410947,black,#292b2c);
}


.social{
  color:white;
  padding:20px;
  
}


.social:hover{
  color:purple;
}





.heading{
  font-family: 'Dancing Script', cursive;
  color:#996515	;
  
}

.jumbotron {
  color:black;
    padding: 100px 25px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    
    
  }
  
  
   .hero h1 {
        font-size:5em;
        margin-top:0;
        margin-bottom:0.5em;
        color:#410947;
        
        
    }
  
  
.heading1{
  
  text-align:center;
  color:#fff;
  font-family:'Dancing Script' cursive;
}

/*--product-display--*/

.cards{
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  width:100%;
  
  
}



.form {
  text-align:center;
  border:solid 1px black;
  margin:20px 0;
  padding:20px;
  
}


