

/*--header+nav--*/

.bg-img {
    background:url("../images/mainlogo.png");
    min-height:700px;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    background-attachment:initial;
    background-size:100%;
    
}

.grad{
  height:150px;
  background-image:linear-gradient(#fff2cc,white);
}

.grad2{
   background-image:linear-gradient(white,#fff2cc);
}


.navfont{
  font-size:20px;
  color:black;
  text-decoration: none;
}



.social{
  color:black;
  padding:20px;
  
}


.social:hover{
  color:purple;
  text-decoration: none;
}





.heading{
  size:60px;
  font-family: 'Dancing Script', cursive;
  color:#996515	;
  
}

/*--------header and NAv End-------*/
  


/*--product-display--*/

.cards{
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  width:100%;
  
  
}


.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
        display:flex;
        padding-left:15px;
        
}


img:hover {
  filter:opacity(30%);
}


.icon {
  position:fixed;
}




/*---------form PAges------*/

.form {
  text-align:center;
  border:solid 1px black;
  margin:20px 0;
  padding:20px;
  
  
}


img:hover {
  filter:opacity(30%);
}


@media only screen and (max-width:420px) {
  .bg-img{
    min-height:350px;
  }
}





